body {
    background-color: whitesmoke;
  }
  .card-border {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover {
    transform: scale(1.05)
}

.buttoncolor{
  border-radius: 10px;
  background-color: grey;
}
.buttoncolor:hover{
  background-color: aliceblue;
  color: black;
}